<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li class="active"></li>
		<li></li>
		<li></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img class="d-block w-100" src="http://placehold.it/880x300" alt="First slide" />
		</div>
		<div class="item">
			<img class="d-block w-100" src="http://placehold.it/880x300" alt="Second slide" />
		</div>
		<div class="item">
			<img class="d-block w-100" src="http://placehold.it/880x300" alt="Third slide" />
		</div>
	</div>
	<a class="left carousel-control" href="javascript:$('.carousel'),carousel('prev')" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	</a>
	<a class="right carousel-control" href="javascript:$('.carousel'),carousel('next')" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
</div>
