<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" aria-controls="navbar-ex1-collapse" aria-expand="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#">在线竞拍</a>
		</div>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<nav class="nav navbar-nav">
				<a href="#" class="nav-link active">关于我们</a>
				<a href="#" class="nav-link">联系我们</a>
				<a href="#" class="nav-link">网站地图</a>
			</nav>
		</div>
	</div>
</nav>